name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Echo .NET version
      run: dotnet --version

    - name: Restore dependencies
      run: dotnet restore

    - name: Some Message
      run: echo "Will build and run tests."

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test ./Tests/*.csproj --verbosity quiet

  CheckOutJob:
     runs-on: ubuntu-latest
     needs: build
     steps:
  
      - name: List files before
        run: ls -a

      - uses: actions/checkout@v3 

      - name: List files after
        run: ls -a

